{% extends 'base.html' %}
{% block content %}


<h1>Coin Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ coin.name }}</span>
        <p>Type: {{ coin.type }}</p>
        <p>Description: {{ coin.description|linebreaks }}</p>
        {% if coin.value > 0 %}
          <p>Age: {{ coin.value }}</p>
        {% else %}
          <p>Age: null</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'coins_update' coin.id %}">Edit</a>
        <a href="{% url 'coins_delete' coin.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_collecting' coin.id %}" method="POST">
      {% csrf_token %}
      {{ collecting_form.as_p }}
      <input type="submit" class="btn" value="Add Collection Time">
    </form>
    <br>
    {% if coin.prospect_for_today %}
      <div class="card-panel teal-text center-align">Sufficent time has been used to search for {{coin.name}} </div>
    {% else %}
      <div class="card-panel red-text center-align">Please spend more time searching for {{coin.name}}</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Prospecting Time</th><th>Duration</th></tr>
      </thead>
      <tbody>
        {% for collecting in coin.collecting_set.all %}
          <tr>
            <td>{{collecting.date}}</td>
            <td>{{collecting.get_prospecting_display}}</td>
            <td>{{collecting.duration}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
 </div>
</div>
<!-- This is all new markup to be added just above the <script> tag -->
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ coin.name }}'s Tools</h3>
      {% if coin.tools.count %}
        {% for tool in coin.tools.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                A <span style="color: {{ tool.name }}">{{ tool.description }}</span> {{ tool.name }}
              </span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Tools :(</h5>
      {% endif %}
    </div>
    <!-- Available toys will come after this line -->
    <div class="col s6">
      <h3>Available Tools</h3>
      {% if tools.count %}
        {% for tool in tools.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                A <span style="color: {{ tool.name }}">{{ tool.description }}</span> {{ tool.name }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_tool' coin.id tool.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Add Tool</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{tool.name}} Already Has All Toys Available</h5>
      {% endif %}
    </div>
  </div>
  
<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  const selectEl = document.getElementById('id_prospecting');  // issue
  M.FormSelect.init(selectEl);
</script>
{% endblock %}

